<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find the MBTA station closest to you.</title>
    <style>
        form{
            border: 1px solid gray;
            padding: 10px;
        }
    </style>
</head>

<body>
    <h1>Find a recipe you like.</h1> 
    <form action="" method="post">  
        <label for="">Dish: <input type="text" name="Dish"></label>
        <label for="">Cuisine: <input type="text" name="Cuisine"></label>
        <label for="">Diet: <input type="text" name="Diet"></label>
        <label for="">Allergies: <input type="text" name="Allergies"></label>
        <label for="">Time: <input type="text" name="Time"></label>
        <button> Find Recipes </button>
    </form>
    <p class="blue">
    </p> 
</body> 

</html>

<!DOCTYPE html>
<html lang="en">
